@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Ruda', Tahoma, sans-serif;
}

html,
body,
.map-canvas {
	height: 90%;
    margin: 0px;
	padding: 0px
}

body {
	border-top: 98px solid #000;
}
h1 {
	color: #E61E1E;
}
h3 {
	font-size: 18px;
	margin-top: 0;
}
h4, .h4 {
font-size: 16px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 5px 0;
}

a{
	color: #E61E1E;
	outline: 0;
}

a:hover, a:focus {
	color: #be1e1e;
	text-decoration: none;
	outline: 0;
}

hr {
margin-top: 50px;
margin-bottom: 50px;
border-top: 3px solid #F2F2F2;
}

.navbar-inverse {
	background-color: #000;
	border-color: #080808;
}

time {
	margin-bottom: 20px;
	display: block;
	font-style: italic;
}

article img,
figure {
	margin:0 0 30px;
}

figcaption {
	font-size:.9em;
	margin:5px 0;
	font-style: italic;
}
#map-canvas-inicio {
	width:100%;
	height: 600px;
	margin:30px 0 0;
}
#map-canvas-noticia {
	height: 300px;
	margin:30px 0;
}

.container.margin {
padding-bottom: 4em;
padding-top: 2em;
}

.well {
	background:transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-primary {
	background-color: #999;
	border: none;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #000;
}

.ico {
	display: block;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
}
.facebook {
	background-image: url(../img/facebook.png);
}
.twitter {
	background-image: url(../img/twitter.png);
}
.googleplus {
	background-image: url(../img/googleplus.png);
}
#h1_servicios,
#h1_productos,
#h1_noticias{
	display:none;
}
.carousel {
	background-color: #000;
}
.carousel-caption {
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5% 30px;
	height: 100%;
	background-image: -webkit-repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0.3) 3px);
	background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 1px, transparent 3px, rgba(0,0,0,.3) 3px);
	background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 1px, transparent 3px, rgba(0,0,0,.3) 3px);
	background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0.3) 3px);
	-webkit-background-size: 4px 4px;
	-moz-background-size: 4px 4px;
	background-size: 4px 4px;
}

.carousel-caption h3 {
	font-size: 5em;
}

.carousel-caption p {
	font-size: 1.5em;
	width: 50%;
}

.carousel-inner > .item > img {
	width:100%;
}

.navbar,
.navbar-brand.logo-nav img,
.nav {
	transition:.5s ease;
}

.form-control:focus {
border-color: #999;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 220, 0, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 220, 0, 0.6);
}

.carousel-indicators {
	bottom: 0;
}

.nav {
	margin-top: 28px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

.section-colored+.container{
	padding-bottom: 4em;
	padding-top: 4em;
}

footer {
	padding: 30px 0;
	background-color: #e5e5e5;
	color: #969696;
	font-size: .8em;
	border-top: 5px solid #f2f2f2;
}
footer a{
	color: #969696;
}
.footer_bottom{
	text-align: center;
	font-size: .8em;
	margin-top: 4em;
}
.news{
	margin-bottom: 1.5em;
}

.navbar > .container .navbar-brand {
	padding-top: 25px;
}
 
::-webkit-selection { 
    background:#FFDC00; 
    color:#fff; 
}

::-moz-selection {
    background:#FFDC00;
    color:#fff;
}
::selection { 
    background:#FFDC00; 
    color:#fff;
}
/*Inicio*/
#carousel_imagenes_inicio{
	position:relative;
}
#carousel_comentarios{
	background:#E8E8E8;
}
#carousel_comentarios.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#carousel_comentarios.carousel-fade .carousel-inner .active {
  opacity: 1;
}
#carousel_comentarios.carousel,
#carousel_comentarios .carousel-inner,
#carousel_comentarios .carousel-inner .item {
 	height: 300px;
 	background-color: #E61E1E;
	color: #fff;
}
#carousel_comentarios strong,
#carousel_comentarios i{
	display:block;
	max-width:80%;
	margin:50px auto 0;
	text-align: center;
}
#carousel_comentarios strong{
	font-size: 2.5em;
	font-weight: 300;
}
#carousel_comentarios i{
	font-style:normal;
	font-size:1em;
}

.section-colored {
	background-color: #F2F2F2;
	padding: 50px 0;
}
.section-colored strong {
	font-size: 1.2em;
	font-weight: normal;
	color: #969696;
}
.news-inicio h3{
	margin-top:10px;
}
.container.news-inicio h2{
	margin-top: 0;
}
.panel-title > a{
	display:block;
}
/*productos*/
#productos,
#servicios {
	position: absolute;
	left:0;
	top:130px;
	width:100%;
	z-index:10;
}
#productos li{
	list-style:none;
}
#productos li a,
#servicios li a{
	display: block;
	background:rgba(230,30,30,.8);
	color:#fff;
	padding:15px 20px;
	font-size:1.2em;
	margin-left:0;
	width:300px;
}
#productos li a:hover,
#servicios li a:hover{
	margin-left:10px;
}
#productos li:hover .cont_interno{
	opacity:1;
	display:block;
}
.producto_lista{
	display:block;
	position:relative;
	margin:1px;
	width:280px
}
.cont_interno{
	background:rgba(255,255,255,.9);
	padding:0px 10px;
	left:300px;
	position:absolute;
	top:0;
	z-index:20;
	opacity:0;
	transition:.5s ease;
	display:none;
}
.cont_interno.dos{
	top:-160px;
}
.cont_interno.tres{
	top:-40px;
}
#productos .cont_interno li a{
	color:#000;
	background:transparent;
	display:block;
}
#productos .cont_interno li a:hover{
	margin-left:0;
	opacity:1;
}
#subir{
	width:60px;
	height:60px;
	background:rgba(170,170,170,.5);
	background-image:url(../img/subir.png);
	background-size:50%;
	background-position:50% 40%;
	background-repeat:no-repeat;
	border-radius:100%;
	display:block;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:30;
}
#subir:hover{
	background-color: #E61E1E;
}
/*servicios*/
#servicios li a{
	background:rgba(255,220,0,.8);
	color:#000;
}
/*nosotros*/
#medioambiente{
	background-image:url(../img/medio-ambiente.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	background-size: auto 100%;
}
#medioambiente ul{
	padding-left:15px;
}
#medioambiente li{
	list-style:disc;
}
@media (max-width: 800px) {
	.carousel h3{
		font-size:2em;
	}
	.carousel-caption p{
		font-size:1em;
		width:75%;
	}
	#carousel_comentarios strong{
		font-size:1.3em;
	}
}
@media (max-width: 700px) {
	#productos,
	#servicios,
	#carousel-example-generic,
	.demo-2,
	.producto-lista{
		display: none;
	}
	.row{
		padding:0 10px;
	}
	#h1_servicios,
	#h1_productos,
	#h1_noticias{
		display:block;
	}
}